---
const year = new Date().getFullYear();
---

<footer
  class="max-w-6xl flex justify-between items-center border-t border-neutral-900 mt-10 mx-auto py-8 px-6"
>
  <p class="text-xs text-center font-medium text-neutral-700 py-1">
    &copy; {year} Barigbue.
  </p>
</footer>
