---
const year = new Date().getFullYear();
---

<footer
  class="max-w-6xl flex justify-between items-center border-t border-neutral-900 mt-10 mx-auto py-8 px-6">
  <p class="text-xs text-center font-medium text-neutral-700 py-1">
    &copy; {year} Barigbue.
  </p>

  <div
    class="w-max bg-neutral-900 text-neutral-500 text-[15px] font-medium px-2.5 py-1 rounded drop-shadow-md">
    <a
      href="https://docs.google.com/document/d/1ctthUSfahqZ6rshYN6p65U8ov_uD7jDjuh82rqCF4BI/edit?usp=sharing"
      target="_blank">Resume</a
    >
  </div>
</footer>
